@import "styles/common.scss";

.convert-wrapper {
  .header {
    margin-bottom: 20px;

    .title {
      font-size: $fontSize;
      font-weight: $fontWeight;
      margin-bottom: $marginBottom;
      color: $fontColor;
    }
  }

  .button-box {
    margin-top: 10px;
  }
}
