.summary {
  .title-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    .title {
      font-size: 1.4em;
      font-weight: bold;
    }

    .download-box {
      display: flex;
      align-items: center;

      .btn-guide {
        opacity: 0.9;
        font-size: .8rem;
        color: rgb(187, 187, 187);
        margin-left: 8px;
      }

      .btn-box {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #007337;
        font-size: 1.3em;
        font-weight: bold;
        cursor: pointer;
        margin: 0 10px;
      }
    }
  }
}
.analysis-id {
  font-size: 1.4em;
  font-weight: bold;
  color: #ffffff;
  border-bottom: 1px solid #d9d9d9;
  padding: 10px;
  background-color: #545454;
}
.sum-title {
  padding-bottom: 5px;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  justify-content: space-between;
  .sum-title-text {
    font-size: 1.1em;
    color: #424242;
  }
}

.summary-item {
  padding: 15px 0;
}

.sum-info {
  display: flex;
  align-items: center;
  .info {
    display: flex;
    align-items: center;
    margin-right: 5px;
    .text {
      font-size: 0.9em;
    }
    .info-icon {
      width: 10px;
      height: 10px;
      margin-right: 5px;
    }

    .blue {
      background-color: #00a2c2;
    }

    .green {
      background-color: #ff9d1c;
    }

    .red {
      background-color: #c21700;
    }
  }
}

.sum-val {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 10px 0;

  .sum-primerSeq {
    color: #00a2c2;
    font-weight: bold;
  }

  .sum-rgenSeq {
    color: #ff9d1c;
    font-weight: bold;
  }

  .sum-coreSeq {
    color: #c21700;
    font-weight: bold;
  }
}

.result-item {
  flex: 1;
  text-align: center;
  margin: 0 15px;
  .result-title {
    font-size: 1em;
    color: #9c9c9c;
    margin-bottom: 5px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .result-val {
    font-size: 1.4em;
    font-weight: bold;
    color: #5c5c5c;
  }
}

:global {
  .value-wrapper {
    display: flex;
    //flex-direction: column;
    flex-wrap: wrap;

    .graphic {
      letter-spacing: 5.15px;
    }

    .value-box {
      margin: 0 1px;
      & * {
        font-size: 0.85em;
      }
      .diff {
        color: rgb(67, 92, 255);
        font-weight: bold;
      }
      .target-diff {
        color: rgb(255, 67, 67);
        font-weight: bold;
      }
    }
  }
}

.char-box {
  flex: 1;

  .char {
    text-align: center;
    cursor: pointer;
    padding: 3px 0;
    &.char-title {
      font-weight: bold;
    }
  }
}

.change-seq {
  display: flex;
  align-items: center;

  .seq {
    font-size: 3em;
    margin: 0px 10px;
    font-weight: bold;
  }

  & svg {
    font-size: 2em;
    margin: 0 20px;
  }
}

.change-result {
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  cursor: pointer;
}

.total {
  width: 100%;
  text-align: center;
  font-size: 2em;
}
.excel-dwn {
  cursor: pointer;
  font-size: 1.2em;
  & * {
    font-size: 1em;
  }
}

@media screen and (max-width: "1000px") {
  .sum-title {
    flex-direction: column;

    .sum-title-text {
      margin-bottom: 5px;
    }

    .sum-info {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .sum-val {
    flex-direction: column;
    & * {
      word-break: break-all;
    }
  }
}

