.summary {
  .title {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 15px;
  }
}
.analysis-id {
  font-size: 1.4em;
  font-weight: bold;
  color: #ffffff;
  border-bottom: 1px solid #d9d9d9;
  padding: 10px 5px;
  background-color: #545454;
}
.sum-title {
  padding-bottom: 5px;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  justify-content: space-between;
  .sum-title-text {
    font-size: 1.1em;
    color: #424242;
  }
}

.summary-item {
  padding: 15px 0;
}

.sum-info {
  display: flex;
  align-items: center;
  .info {
    display: flex;
    align-items: center;
    margin-right: 5px;
    .text {
      font-size: 0.9em;
    }
    .info-icon {
      width: 10px;
      height: 10px;
      margin-right: 5px;
    }

    .blue {
      background-color: #00a2c2;
    }

    .green {
      background-color: #ff9d1c;
    }

    .red {
      background-color: #c21700;
    }
  }
}

.sum-val {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 10px 0;

  .sum-primerSeq {
    color: #00a2c2;
    font-weight: bold;
  }

  .sum-rgenSeq {
    color: #ff9d1c;
    font-weight: bold;
  }

  .sum-coreSeq {
    color: #c21700;
    font-weight: bold;
  }
}

.result-item {
  flex: 1;
  text-align: center;
  margin: 0 15px;
  .result-title {
    font-size: 1em;
    color: #9c9c9c;
    margin-bottom: 5px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .result-val {
    font-size: 1.4em;
    font-weight: bold;
    color: #5c5c5c;
  }
}

:global {
  .value-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .graphic {
      letter-spacing: 5.15px;
    }
  }
}

.char-box {
  flex: 1;

  .char {
    text-align: center;
    cursor: pointer;
  }
}

.change-seq {
  display: flex;
  align-items: center;

  .seq {
    font-size: 3em;
    margin: 0px 10px;
    font-weight: bold;
  }

  & svg {
    font-size: 3em;
  }
}

.change-result {
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  cursor: pointer;
}

.total {
  width: 100%;
  text-align: center;
  font-size: 2em;
}
