.list-wrapper {
  height: 90vh;
  background-color: #ffffff;
  width: 100%;
  .list-container {
    width: 80%;
    margin: auto;
    max-width: 1100px;

    padding: 50px 30px;
  }
  .welcome {
    font-size: 1.5em;
    .point {
      font-size: 0.9em;
    }
  }
}
