.full-layout {
  width: 100%;
  min-height: 100vh !important;
  height: 100%;
}

.logo {
  font-size: 1.4em;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logout {
    color: #ffffff;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
  }
}
