.indel-wrapper {
  .header {
    margin-bottom: 20px;

    .title {
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 5px;
    }
  }

  .upload-icon {
    img {
      width: 10%;
    }
  }

  .button-box {
    margin-top: 10px;
  }
}
