.full-item {
  display: flex;
  justify-content: space-between;
  .half-item {
    width: 45%;
  }
}

.upload-icon {
  & svg {
    font-size: 1.5em;
  }

  img {
    width: 5%;
    margin-bottom: 10px;
    min-width: 30px;
    opacity: 0.5;
  }
}

.upload-text {
  opacity: 0.5;
}
