

.login-container {
  background: rgb(44, 172, 209);
  background: linear-gradient(
    138deg,
    rgba(44, 172, 209, 1) 0%,
    rgba(44, 101, 177, 1) 100%
  );
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo-box {
  cursor: pointer;
}

@keyframes black-hole {
  0% {
    transform: scale(1) translate3d(75px, 0, 0);
  }
  50% {
    transform: scale(4) translate3d(55px, 0, 0);
  }
  100% {
    transform: scale(1) translate3d(75px, 0, 0);
  }
}
@keyframes black-hole-rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) skew(3deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg) skew(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) skew(3deg);
  }
}

.black-hole {
  backface-visibility: hidden;
  z-index: 20;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  padding: 0;
  box-shadow: 0 0 30px 0 #0000ff inset;

  .gooey-container {
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg) skew(5deg);
    filter: url(#gooey-black-hole);
    width: 300px;
    height: 300px;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 0 22px #9900ff inset;
    animation: black-hole-rotate 5s ease infinite;
    .bubble {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      text-align: right;

      &:before {
        content: "";
        display: inline-block;
        background: #ff4081;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        transform: scale(1) translate3d(75px, 0, 0);
        box-shadow: 0 0 10px 0 #0000ff inset, 0 0 10px 0 #0000ff inset;
        -webkit-transform: scale(1) translate3d(75px, 0, 0);
        -moz-transform: scale(1) translate3d(75px, 0, 0);
        -ms-transform: scale(1) translate3d(75px, 0, 0);
        -o-transform: scale(1) translate3d(75px, 0, 0);
      }
    }
    @for $i from 1 through 6 {
      .bubble:nth-child(#{$i}) {
        transform: translate(-50%, -50%) rotate(60deg * $i);
      }
      .bubble:nth-child(#{$i}):before {
        animation: black-hole 1s * ($i) ease 0.5s * $i infinite;
      }
    }
  }
}

@keyframes plasma-2 {
  0% {
    transform: scale(1) translate3d(60px, 0, 0);
  }
  50% {
    transform: scale(2) translate3d(-60px, 0, 0);
  }
  100% {
    transform: scale(1) translate3d(60px, 0, 0);
  }
}
@keyframes plasma-2-rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.plasma-2 {
  backface-visibility: hidden;
  z-index: 20;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  padding: 0;

  .gooey-container {
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: url(#gooey-plasma-2);
    width: 300px;
    height: 300px;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 0 20px #9900ff inset;
    animation: plasma-2-rotate 5s linear infinite;

    .bubble {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      text-align: right;

      &:before {
        content: "";
        display: inline-block;
        background: #ff4081;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        transform: scale(1) translate3d(75px, 0, 0);
        box-shadow: 0 0 10px 5px #0000ff inset, 0 0 10px 0 #0000ff inset;
      }
    }
    @for $i from 1 through 6 {
      .bubble:nth-child(#{$i}) {
        transform: translate(-50%, -50%) rotate(60deg * $i);
      }
      .bubble:nth-child(#{$i}):before {
        animation: plasma-2 5s * ($i / 2) ease 0.5s / $i infinite;
      }
    }
  }
}

.title-box {
  text-align: center;
  margin: 15px 0;
  .title {
    color: #ffffff;
    font-size: 1.8em;
    font-weight: bold;
  }
}

.login-box {
  position: absolute;
  top: 20%;
  left: 80px;
  margin: 50px 0;
  .login-form {
    width: 300px;
  }
  .title {
    color: #ffffff;
    font-size: 6em;
    font-weight: 100;
    margin-bottom: 30px;
  }

  .input-box {
    width: 100%;
    svg {
      color: rgba(255, 255, 255, 0.55);
    }
    input {
      background-color: transparent !important;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px;
      color: #ffffff;
      border: 0px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);

      &:focus {
        background-color: transparent;
      }
    }
  }
}

.button-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;

  cursor: pointer;

  svg {
    height: 35px;
    width: 90px;
    fill: none;
    stroke-width: 3;
    display: block;

    .o1 {
      stroke: rgba(#ffffff, 0.5);
      fill: transparent;
      transition: all 1s ease-in-out;
    }

    .o2 {
      stroke: white;
      stroke-dasharray: 20 420;
      stroke-dashoffset: 20;
      transition: all 1s ease-in-out;
    }
  }

  span {
    position: absolute;
    margin: auto 0;
    text-transform: uppercase;
    font-size: 0.9em;
    color: #ffffff;
  }

  &:hover {
    .o1 {
    }

    .o2 {
      stroke-dashoffset: -420;
    }
  }
}


.circle {
  width: 800px;
  height: 800px;
  position: absolute;
  top:30px;
  right: 30px;

  & img {
    width: 100%;
    height: 100%
  }
}

.project-info {
  position: absolute;
  top: 150px;
  right: 250px;
  color: #ffffff;
  padding: 2px 12px;
  border-left: 1.5px solid rgba(#ffffff, 0.8);
  opacity: 1;
  .desc {
    margin-bottom: 10px;
  }
  .small {
    font-size: 0.9em;
    opacity: 0.8;
  }

  .email {
    font-size: 0.9em;
    text-decoration: underline;
    opacity: 0.8;
  }

  .sns-box {
    margin-top: 10px;
    a {
      color: #ffffff;
    }
    & * {
      color:#ffffff;
      font-size: 1.2em;
      cursor: pointer;
    }
  }
}